Repository Clinical-Genomics/cg, pull requests merged in 2023-02, with the labels that each got.

#1734 fix(Clean-up MIP folders)
  cg/cli/clean.py
  cg/cli/workflow/commands.py
  cg/meta/workflow/mip.py
  tests/cli/workflow/test_cli_workflow_clean.py
Labels: MIP, Gain S, bugfix, Urgency S

#1742 fix(MIP-RNA) Create Upload api for MIP-RNA
  cg/cli/upload/base.py
  cg/meta/upload/balsamic/balsamic.py
  cg/meta/upload/mip/__init__.py
  cg/meta/upload/mip/mip_dna.py
  cg/meta/upload/mip/mip_rna.py
  tests/cli/upload/conftest.py
  tests/cli/upload/test_cli_upload.py
  tests/cli/workflow/mip/conftest.py
  tests/cli/workflow/mip/test_cli_mip_base.py
  tests/cli/workflow/mip/test_cli_mip_dna_config_case.py
  tests/cli/workflow/mip/test_cli_mip_dna_link.py
  tests/cli/workflow/mip/test_cli_mip_dna_panel.py
  tests/cli/workflow/mip/test_cli_mip_dna_run.py
  tests/cli/workflow/mip/test_cli_mip_dna_start.py
  tests/cli/workflow/mip/test_cli_mip_rna_config_case.py
  tests/cli/workflow/mip/test_cli_mip_rna_link.py
  tests/cli/workflow/mip/test_cli_mip_rna_run.py
  tests/cli/workflow/mip/test_cli_mip_store.py
  tests/meta/upload/conftest.py
  tests/meta/upload/test_upload_api.py
Labels: Bug, MIP, Gain S

#1693 Scout support rnafusion
  cg/cli/upload/base.py
  cg/cli/upload/scout.py
  cg/cli/upload/utils.py
  cg/constants/__init__.py
  cg/constants/scout_upload.py
  cg/meta/upload/balsamic/balsamic.py
  cg/meta/upload/mip/mip_dna.py
  cg/meta/upload/mip/mip_rna.py
  cg/meta/upload/rnafusion/__init__.py
  cg/meta/upload/rnafusion/rnafusion.py
  cg/meta/upload/scout/balsamic_config_builder.py
  cg/meta/upload/scout/balsamic_umi_config_builder.py
  cg/meta/upload/scout/hk_tags.py
  cg/meta/upload/scout/mip_config_builder.py
  cg/meta/upload/scout/rnafusion_config_builder.py
  cg/meta/upload/scout/scout_config_builder.py
  cg/meta/upload/scout/uploadscoutapi.py
  cg/meta/workflow/balsamic.py
  cg/meta/workflow/rnafusion.py
  cg/models/scout/scout_load_config.py
  cg/resources/rnafusion_bundle_filenames.csv
  tests/cli/upload/test_cli_upload.py
  tests/cli/workflow/rnafusion/conftest.py
  tests/cli/workflow/rnafusion/test_cli_rnafusion_report_deliver.py
  tests/conftest.py
  tests/meta/upload/scout/conftest.py
  tests/meta/upload/scout/test_generate_load_config.py
  tests/meta/upload/scout/test_scout_config_builder.py
  tests/store_helpers.py
Labels: rnafusion

#1746 fix(Nipt orders get wrong priority)
  cg/apps/invoice/render.py
  cg/constants/invoice.py
  cg/constants/priority.py
  cg/constants/sequencing.py
  cg/meta/invoice.py
  cg/models/invoice/__init__.py
  cg/models/invoice/invoice.py
  cg/server/invoices/views.py
  tests/meta/conftest.py
  tests/meta/test_invoice.py
  tests/store_helpers.py
  tests/test_store_helpers.py
Labels: bugfix
