Repository Clinical-Genomics/cg, pull requests merged in 2024-04, with the labels that each got.

#3093 add raredisease start and start-available
  cg/cli/workflow/raredisease/base.py
  tests/cli/workflow/nf_analysis/test_cli_run.py
  tests/cli/workflow/nf_analysis/test_cli_start.py
  tests/cli/workflow/nf_analysis/test_cli_workflow_base.py
Labels: raredisease

#3088 feat - Remove bcl2fastq from automation
  cg/apps/demultiplex/sample_sheet/api.py
  cg/apps/demultiplex/sample_sheet/sample_sheet_validator.py
  tests/apps/demultiplex/test_create_sample_sheet.py
  tests/apps/demultiplex/test_sample_sheet_validator.py
  tests/cli/demultiplex/test_create_sample_sheet.py
  tests/cli/demultiplex/test_validate_sample_sheet.py
  tests/fixture_plugins/demultiplex_fixtures/sample_sheet_fixtures.py
  tests/meta/demultiplex/test_demux_post_processing.py
  tests/meta/transfer/conftest.py
Labels: demultiplex

#3107 remove bcl converter from CLI
  cg/apps/demultiplex/sample_sheet/api.py
  cg/cli/demultiplex/demux.py
  cg/cli/demultiplex/finish.py
  cg/cli/demultiplex/sample_sheet.py
  cg/constants/demultiplexing.py
  tests/cli/demultiplex/test_create_sample_sheet.py
  tests/cli/demultiplex/test_demultiplex_flowcell.py
Labels: Project Task, demultiplex

#3116 Remove bcl2fastq sample sheet creation
  cg/apps/demultiplex/sample_sheet/api.py
  cg/apps/demultiplex/sample_sheet/create.py
  cg/apps/demultiplex/sample_sheet/index.py
  cg/apps/demultiplex/sample_sheet/sample_sheet_creator.py
  cg/apps/lims/sample_sheet.py
  cg/constants/demultiplexing.py
  cg/resources/20181012_Indices.csv
  cg/resources/__init__.py
  tests/apps/demultiplex/conftest.py
  tests/apps/demultiplex/test_index.py
  tests/apps/demultiplex/test_read_sample_sheet.py
  tests/apps/demultiplex/test_sample_sheet_creator.py
  tests/apps/demultiplex/test_sample_sheet_creator_factory.py
  tests/fixture_plugins/demultiplex_fixtures/sample_fixtures.py
Labels: Project Task, demultiplex

#3127 Remove bcl2fastq demultiplexing
  cg/apps/demultiplex/demultiplex_api.py
  cg/apps/demultiplex/sbatch.py
  cg/constants/demultiplexing.py
  tests/apps/demultiplex/test_demultiplex_api.py
  tests/fixture_plugins/demultiplex_fixtures/flow_cell_fixtures.py
  tests/meta/demultiplex/conftest.py
Labels: Project Task, demultiplex

#3132 Remove bcl2fastq sequencing parsers
  cg/apps/sequencing_metrics_parser/__init__.py
  cg/apps/sequencing_metrics_parser/api.py
  cg/apps/sequencing_metrics_parser/models/bcl2fastq_metrics.py
  cg/apps/sequencing_metrics_parser/parsers/bcl2fastq.py
  cg/apps/sequencing_metrics_parser/parsers/bcl2fastq_to_sequencing_statistics.py
  cg/apps/sequencing_metrics_parser/parsers/bcl_convert_to_sequencing_statistics.py
  cg/apps/sequencing_metrics_parser/sequencing_metrics_calculator.py
  cg/constants/bcl_convert_metrics.py
  cg/meta/demultiplex/demux_post_processing.py
  cg/meta/demultiplex/status_db_storage_functions.py
  tests/apps/sequencing_metrics_parser/parsers/test_bcl2fastq_parser.py
  tests/apps/sequencing_metrics_parser/parsers/test_bcl2fastq_to_sequencing_statistics.py
  tests/apps/sequencing_metrics_parser/parsers/test_bcl_convert_to_sequencing_statistics.py
  tests/apps/sequencing_metrics_parser/parsers/test_sequencing_metrics_parser_api.py
  tests/apps/sequencing_metrics_parser/test_sequencing_metrics_calculator.py
  tests/conftest.py
  tests/fixture_plugins/demultiplex_fixtures/flow_cell_fixtures.py
  tests/fixture_plugins/demultiplex_fixtures/name_fixtures.py
  tests/fixtures/apps/sequencing_metrics_parser/230622_A00621_0864_AHY7FFDRX2/SampleSheet.csv
  tests/meta/demultiplex/conftest.py
  tests/meta/demultiplex/test_demux_post_processing.py
Labels: Project Task, demultiplex

#3144 Only include uploaded analyses with matching workflow
  cg/services/delivery_message/delivery_message_service.py
  tests/server/conftest.py
Labels: Bug

#2924 feat(raredisease) add metrics-deliver
  cg/cli/workflow/raredisease/base.py
  cg/constants/nf_analysis.py
  cg/meta/workflow/nf_analysis.py
  cg/meta/workflow/raredisease.py
  cg/models/raredisease/raredisease.py
  tests/cli/workflow/nf_analysis/test_cli_metrics_deliver.py
  tests/cli/workflow/raredisease/__init__.py
  tests/conftest.py
  tests/fixtures/analysis/raredisease/multiqc_data.json
  tests/fixtures/analysis/raredisease/raredisease_case_enough_reads_metrics_deliverables.yaml
  tests/meta/workflow/test_nf_analysis.py
  tests/meta/workflow/test_raredisease.py
Labels: raredisease

#3053 feat(jasen) Add jasen workflow without subcommands
  cg/cli/workflow/base.py
  cg/cli/workflow/jasen/__init__.py
  cg/cli/workflow/jasen/base.py
  cg/constants/constants.py
  cg/meta/workflow/jasen.py
  tests/cli/workflow/nf_analysis/test_cli_workflow_base.py
  tests/conftest.py
Labels: jasen

#3160 Remove alternate patterns to find fastq in demux flow cells
  cg/meta/demultiplex/utils.py
  tests/conftest.py
  tests/fixture_plugins/demultiplex_fixtures/flow_cell_fixtures.py
  tests/fixture_plugins/demultiplex_fixtures/name_fixtures.py
  tests/fixture_plugins/demultiplex_fixtures/path_fixtures.py
  tests/fixture_plugins/demultiplex_fixtures/sample_fixtures.py
  tests/fixtures/apps/demultiplexing/demultiplexed-runs-unfinished/230912_A00187_1009_AHK33MDRX3/SampleSheet.csv
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/170517_ST-E00266_0210_BHJCFFALXX/ACC2655A1_S2_L002_R1_001.fastq.gz
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/170517_ST-E00266_0210_BHJCFFALXX/ACC2655A1_S2_L002_R2_001.fastq.gz
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/170517_ST-E00266_0210_BHJCFFALXX/Reports/Adapter_Metrics.csv
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/170517_ST-E00266_0210_BHJCFFALXX/Reports/Demultiplex_Stats.csv
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/170517_ST-E00266_0210_BHJCFFALXX/Reports/Quality_Metrics.csv
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/170517_ST-E00266_0210_BHJCFFALXX/SVE2648A1_S1_L001_R1_001.fastq.gz
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/170517_ST-E00266_0210_BHJCFFALXX/SVE2648A1_S1_L001_R2_001.fastq.gz
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/170517_ST-E00266_0210_BHJCFFALXX/Undetermined_S0_L001_R1_001.fastq.gz
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/170517_ST-E00266_0210_BHJCFFALXX/Undetermined_S0_L001_R2_001.fastq.gz
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/170517_ST-E00266_0210_BHJCFFALXX/demuxcomplete.txt
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/20231108_LH00188_0028_B22F52TLT3/BCLConvert/fastq/ACC13169A1_S1_L001_R1_001.fastq.gz
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/20231108_LH00188_0028_B22F52TLT3/BCLConvert/fastq/ACC13169A1_S1_L001_R2_001.fastq.gz
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/20231108_LH00188_0028_B22F52TLT3/BCLConvert/fastq/ACC13170A6_S2_L002_R1_001.fastq.gz
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/20231108_LH00188_0028_B22F52TLT3/BCLConvert/fastq/ACC13170A6_S2_L002_R2_001.fastq.gz
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/20231108_LH00188_0028_B22F52TLT3/BCLConvert/fastq/Undetermined_S0_L001_R1_001.fastq.gz
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/20231108_LH00188_0028_B22F52TLT3/BCLConvert/fastq/Undetermined_S0_L001_R2_001.fastq.gz
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/20231108_LH00188_0028_B22F52TLT3/Reports/Adapter_Metrics.csv
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/20231108_LH00188_0028_B22F52TLT3/Reports/Demultiplex_Stats.csv
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/20231108_LH00188_0028_B22F52TLT3/Reports/Quality_Metrics.csv
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/20231108_LH00188_0028_B22F52TLT3/demuxcomplete.txt
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/230912_A00187_1009_AHK33MDRX3/ACC12642A4_S2_L002_R1_001.fastq.gz
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/230912_A00187_1009_AHK33MDRX3/ACC12642A4_S2_L002_R2_001.fastq.gz
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/230912_A00187_1009_AHK33MDRX3/ACC12642A7_S1_L001_R1_001.fastq.gz
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/230912_A00187_1009_AHK33MDRX3/ACC12642A7_S1_L001_R2_001.fastq.gz
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/230912_A00187_1009_AHK33MDRX3/Reports/Adapter_Metrics.csv
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/230912_A00187_1009_AHK33MDRX3/Reports/Demultiplex_Stats.csv
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/230912_A00187_1009_AHK33MDRX3/Reports/Quality_Metrics.csv
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/230912_A00187_1009_AHK33MDRX3/Undetermined_S0_L001_R1_001.fastq.gz
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/230912_A00187_1009_AHK33MDRX3/Undetermined_S0_L001_R2_001.fastq.gz
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/230912_A00187_1009_AHK33MDRX3/demuxcomplete.txt
  tests/fixtures/apps/demultiplexing/flow_cells/20231108_LH00188_0028_B22F52TLT3/SampleSheet.csv
  tests/meta/demultiplex/conftest.py
  tests/meta/demultiplex/test_demux_post_processing.py
  tests/store/crud/read/test_read_sample.py
  tests/store/filters/test_status_metrics_filters.py
  tests/store_helpers.py
Labels: Project Task, demultiplex

#3164 Remove BclConverter usage from FlowCellDirectoryData
  cg/apps/demultiplex/demultiplex_api.py
  cg/apps/demultiplex/sample_sheet/api.py
  cg/apps/lims/sample_sheet.py
  cg/cli/demultiplex/demux.py
  cg/constants/demultiplexing.py
  cg/models/flow_cell/flow_cell.py
  tests/apps/demultiplex/test_create_sample_sheet.py
  tests/apps/demultiplex/test_demultiplex_api.py
  tests/cli/demultiplex/test_create_sample_sheet.py
  tests/cli/demultiplex/test_demultiplex_flowcell.py
  tests/fixture_plugins/demultiplex_fixtures/flow_cell_fixtures.py
  tests/meta/demultiplex/test_demux_post_processing.py
  tests/meta/demultiplex/test_utils.py
  tests/models/flow_cell/test_flowcell_model.py
Labels: Project Task, demultiplex

#3171 Unify models FlowCellSample and FlowCellBclConvertSample
  cg/apps/demultiplex/sample_sheet/api.py
  cg/apps/demultiplex/sample_sheet/index.py
  cg/apps/demultiplex/sample_sheet/read_sample_sheet.py
  cg/apps/demultiplex/sample_sheet/sample_models.py
  cg/apps/demultiplex/sample_sheet/sample_sheet_creator.py
  cg/apps/demultiplex/sample_sheet/sample_sheet_models.py
  cg/apps/demultiplex/sample_sheet/sample_sheet_validator.py
  cg/apps/lims/sample_sheet.py
  tests/apps/demultiplex/conftest.py
  tests/apps/demultiplex/test_create_sample_sheet.py
  tests/apps/demultiplex/test_index.py
  tests/apps/demultiplex/test_read_sample_sheet.py
  tests/apps/demultiplex/test_sample_models.py
  tests/apps/demultiplex/test_sample_sheet_creator.py
  tests/apps/demultiplex/test_sample_sheet_models.py
  tests/apps/demultiplex/test_translate_sample_sheet.py
  tests/apps/demultiplex/test_validate.py
  tests/cli/demultiplex/test_create_sample_sheet.py
  tests/cli/workflow/fluffy/conftest.py
  tests/fixture_plugins/demultiplex_fixtures/sample_fixtures.py
Labels: Project Task, demultiplex

#3174 Clean tests and constants from bcl2fastq
  cg/apps/demultiplex/sample_sheet/api.py
  cg/apps/sequencing_metrics_parser/parser.py
  cg/constants/demultiplexing.py
  cg/models/flow_cell/flow_cell.py
  tests/apps/demultiplex/conftest.py
  tests/apps/demultiplex/test_read_sample_sheet.py
  tests/apps/demultiplex/test_translate_sample_sheet.py
  tests/apps/sequencing_metrics_parser/parsers/conftest.py
  tests/apps/sequencing_metrics_parser/parsers/test_bclconvert.py
  tests/apps/sequencing_metrics_parser/parsers/test_sequencing_metrics_parser_api.py
  tests/cli/store/test_store.py
  tests/conftest.py
  tests/fixture_plugins/demultiplex_fixtures/flow_cell_fixtures.py
  tests/fixture_plugins/demultiplex_fixtures/name_fixtures.py
  tests/fixture_plugins/demultiplex_fixtures/path_fixtures.py
  tests/fixture_plugins/demultiplex_fixtures/sample_sheet_fixtures.py
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/20230508_LH00188_0003_A22522YLT3/BCLConvert/fastq/ACC11927A2_S1_L001_R1_001.fastq.gz
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/20230508_LH00188_0003_A22522YLT3/BCLConvert/fastq/ACC11927A2_S1_L001_R2_001.fastq.gz
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/20230508_LH00188_0003_A22522YLT3/BCLConvert/fastq/ACC11927A2_S1_L002_R1_001.fastq.gz
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/20230508_LH00188_0003_A22522YLT3/BCLConvert/fastq/ACC11927A2_S1_L002_R2_001.fastq.gz
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/20230508_LH00188_0003_A22522YLT3/BCLConvert/fastq/ACC11927A5_S1_L001_R1_001.fastq.gz
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/20230508_LH00188_0003_A22522YLT3/BCLConvert/fastq/ACC11927A5_S1_L001_R2_001.fastq.gz
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/20230508_LH00188_0003_A22522YLT3/BCLConvert/fastq/ACC11927A5_S1_L002_R1_001.fastq.gz
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/20230508_LH00188_0003_A22522YLT3/BCLConvert/fastq/ACC11927A5_S1_L002_R2_001.fastq.gz
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/20230508_LH00188_0003_A22522YLT3/Reports/Adapter_Metrics.csv
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/20230508_LH00188_0003_A22522YLT3/Reports/Demultiplex_Stats.csv
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/20230508_LH00188_0003_A22522YLT3/Reports/Quality_Metrics.csv
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/20230508_LH00188_0003_A22522YLT3/SampleSheet.csv
  tests/fixtures/apps/demultiplexing/demultiplexed-runs/20230508_LH00188_0003_A22522YLT3/demuxcomplete.txt
  tests/fixtures/apps/demultiplexing/run_parameters/RunParameters_novaseq_X_different_index_cycles.xml
  tests/fixtures/apps/demultiplexing/run_parameters/RunParameters_novaseq_X_wrong_instrument.xml
  tests/meta/compress/test_meta_compress_update_hk.py
  tests/meta/conftest.py
  tests/meta/demultiplex/conftest.py
  tests/meta/demultiplex/test_housekeeper_storage_functions.py
  tests/meta/demultiplex/test_utils.py
  tests/models/demultiplexing/conftest.py
  tests/store/api/conftest.py
  tests/store/crud/add/test_store_add_flow_celll.py
  tests/store/crud/conftest.py
  tests/store/crud/delete/test_delete.py
  tests/store/crud/read/test_read.py
  tests/store/filters/test_status_flow_cell_filters.py
Labels: Project Task, demultiplex

#2886 Add pre-analysis quality check service
  cg/cli/workflow/balsamic/base.py
  cg/cli/workflow/fastq/base.py
  cg/cli/workflow/fluffy/base.py
  cg/cli/workflow/microsalt/base.py
  cg/cli/workflow/mip/base.py
  cg/cli/workflow/mutant/base.py
  cg/cli/workflow/nf_analysis.py
  cg/meta/deliver/deliver.py
  cg/meta/delivery/delivery.py
  cg/meta/workflow/analysis.py
  cg/meta/workflow/balsamic.py
  cg/meta/workflow/fluffy.py
  cg/meta/workflow/microsalt/microsalt.py
  cg/meta/workflow/microsalt/quality_controller/__init__.py
  cg/meta/workflow/microsalt/quality_controller/quality_controller.py
  cg/meta/workflow/mip.py
  cg/meta/workflow/mip_dna.py
  cg/meta/workflow/mip_rna.py
  cg/meta/workflow/mutant.py
  cg/meta/workflow/prepare_fastq.py
  cg/services/quality_controller/__init__.py
  cg/services/quality_controller/quality_checks/checks.py
  cg/services/quality_controller/quality_checks/utils.py
  cg/services/quality_controller/quality_controller_service.py
  cg/store/crud/read.py
  cg/store/models.py
  tests/cli/workflow/balsamic/conftest.py
  tests/cli/workflow/balsamic/test_compound_commands.py
  tests/cli/workflow/fastq/test_fastq_base.py
  tests/cli/workflow/mip/conftest.py
  tests/conftest.py
  tests/fixture_plugins/quality_controller_fixtures/sequencing_qc_check_scenario.py
  tests/fixture_plugins/quality_controller_fixtures/sequencing_qc_fixtures.py
  tests/meta/workflow/microsalt/conftest.py
  tests/meta/workflow/microsalt/test_quality_controller.py
  tests/meta/workflow/test_analysis.py
  tests/mocks/tb_mock.py
  tests/services/quality_controller/test_sequencing_quality_checks_utils.py
  tests/store/crud/read/test_read.py
  tests/store/crud/read/test_read_analysis.py
  tests/store_helpers.py
Labels: Gain S, Effort M, Urgency S

#3047 AddRunParameters files to Housekeeper when finishing flow cell
  cg/constants/housekeeper_tags.py
  cg/meta/demultiplex/housekeeper_storage_functions.py
  tests/meta/demultiplex/test_demux_post_processing.py
  tests/meta/demultiplex/test_housekeeper_storage_functions.py
Labels: demultiplex
