Repository Clinical-Genomics/cg, pull requests merged in 2024-08, with the labels that each got.

#3442 feat(update):zipp
  poetry.lock
Labels: security

#3441 feat(update):setuptools
  poetry.lock
Labels: security

#3530 Add sequencing times for PacBio run
  alembic/versions/2024_08_07_817cf7fea40d_add_sequencing_times_pacbio.py
  cg/store/models.py
Labels: alembic migration

#3516 Add loqus DB upload for raredisease
  cg/cli/delete/observations.py
  cg/cli/upload/base.py
  cg/cli/upload/observations/observations.py
  cg/cli/upload/observations/utils.py
  cg/constants/delivery.py
  cg/constants/observations.py
  cg/meta/observations/observations_api.py
  cg/meta/observations/raredisease_observations_api.py
  cg/meta/upload/raredisease/raredisease.py
  cg/models/observations/input_files.py
  tests/cli/upload/test_cli_upload_auto.py
  tests/cli/upload/test_cli_upload_observations.py
  tests/conftest.py
  tests/fixture_plugins/observations_fixtures/observations_api_fixtures.py
  tests/fixture_plugins/observations_fixtures/observations_input_files_fixtures.py
  tests/meta/observations/test_observations_api.py
  tests/meta/observations/test_raredisease_observations_api.py
  tests/models/observations/test_observations_input_files.py
Labels: raredisease

#3541 Fix internal
  cg/io/csv.py
  cg/meta/upload/fohm/fohm.py
Labels: Bug

#3540 Add clinical-delivery upload for raredisease
  alembic/versions/2024_03_27_9cf71c905539_remove_delivery_table.py
  alembic/versions/2024_05_16_6e6c36d5157b_add_illumina_run_metrics.py
  alembic/versions/2024_05_22_18e3b2aba252_add_yield_columns.py
  cg/constants/delivery.py
  cg/meta/upload/raredisease/raredisease.py
  cg/services/analysis_service/analysis_service.py
  cg/services/fastq_concatenation_service/fastq_concatenation_service.py
  cg/services/illumina/file_parsing/demux_version_service.py
  cg/services/sample_service/sample_service.py
  cg/services/sequencing_qc_service/sequencing_qc_service.py
  cg/services/slurm_service/slurm_cli_service.py
  cg/services/validate_file_transfer_service/validate_pacbio_file_transfer_service.py
  tests/cli/store/test_store.py
  tests/meta/qc_metrics/test_collect_qc_metrics.py
  tests/services/illumina/post_processing/test_housekeeper_storage.py
  tests/services/orders/order_status_service/test_order_summary_service.py
  tests/utils/test_files.py
Labels: raredisease

#3564 fix PacBio sequencing run column names
  alembic/versions/2024_08_14_bb4c6dbad991_fix_pacbio_column_names.py
Labels: alembic migration
