Repository Clinical-Genomics/cg, pull requests merged in 2024-03, with the labels that each got.

#2725 add raredisease config
  cg/cli/workflow/nf_analysis.py
  cg/cli/workflow/raredisease/base.py
  cg/cli/workflow/rnafusion/base.py
  cg/cli/workflow/rnafusion/options.py
  cg/cli/workflow/taxprofiler/base.py
  cg/cli/workflow/taxprofiler/options.py
  cg/constants/constants.py
  cg/io/config.py
  cg/io/txt.py
  cg/meta/workflow/nf_analysis.py
  cg/meta/workflow/raredisease.py
  cg/models/cg_config.py
  cg/models/nf_analysis.py
  cg/models/raredisease/raredisease.py
  cg/models/rnafusion/rnafusion.py
  cg/models/taxprofiler/taxprofiler.py
  cg/store/models.py
  tests/cli/workflow/raredisease/test_cli_raredisease_config_case.py
  tests/cli/workflow/rnafusion/test_cli_rnafusion_config_case.py
  tests/conftest.py
  tests/fixtures/analysis/nf-analysis/pipeline_params.config
  tests/fixtures/analysis/nf-analysis/pipeline_resource_optimisation.config
  tests/fixtures/analysis/nf-analysis/platform.config
  tests/fixtures/io/example2.txt
  tests/io/conftest.py
  tests/io/test_io_config.py
  tests/io/test_io_txt.py
  tests/meta/workflow/test_raredisease.py
Labels: raredisease

#3001 feat(cryptography): Update
  poetry.lock
  pyproject.toml
Labels: Enhancement

#3023 Connect manually created cases to an order
  cg/cli/add.py
  tests/cli/add/test_cli_add_family.py
Labels: Bug

#3026 (Streamline delivery) Delivery message cases
  cg/exc.py
  cg/server/api.py
  cg/server/dto/delivery_message/__init__.py
  cg/server/dto/delivery_message/delivery_message_request.py
  cg/server/dto/delivery_message/delivery_message_response.py
  cg/server/ext.py
  cg/services/delivery_message/delivery_message_service.py
  cg/services/delivery_message/messages/analysis_scout_message.py
  cg/services/delivery_message/messages/covid_message.py
  cg/services/delivery_message/messages/delivery_message.py
  cg/services/delivery_message/messages/fastq_analysis_scout_message.py
  cg/services/delivery_message/messages/fastq_message.py
  cg/services/delivery_message/messages/fastq_scout_message.py
  cg/services/delivery_message/messages/microsalt_mwr_message.py
  cg/services/delivery_message/messages/microsalt_mwx_message.py
  cg/services/delivery_message/messages/scout_message.py
  cg/services/delivery_message/messages/statina_message.py
  cg/services/delivery_message/utils.py
  cg/store/crud/read.py
  cg/store/filters/status_case_filters.py
  tests/server/conftest.py
  tests/server/endpoints/test_delivery_message_endpoint.py
Labels: Streamline Delivery

#3028 Unify the fastq concatenation and remove reduntant code
  cg/cli/deliver/base.py
  cg/constants/constants.py
  cg/meta/deliver/__init__.py
  cg/meta/deliver/deliver.py
  cg/meta/deliver/deliver_ticket.py
  cg/meta/deliver/fastq_path_generator.py
  cg/meta/deliver_ticket.py
  cg/services/fastq_file_service/fastq_file_service.py
  cg/services/fastq_file_service/utils.py
  tests/cli/deliver/test_deliver_base.py
  tests/meta/deliver/test_deliver_ticket.py
  tests/meta/deliver/test_fastq_path_generator.py
  tests/services/fastq_file_service/test_fastq_file_service.py
Labels: Gain L, Effort S, Urgency L

#3015 (feat taxprofiler): Add store-housekeeper command
  cg/cli/workflow/nf_analysis.py
  cg/cli/workflow/rnafusion/base.py
  cg/cli/workflow/taxprofiler/base.py
  cg/constants/housekeeper_tags.py
  cg/exc.py
  cg/meta/workflow/nf_analysis.py
  cg/models/taxprofiler/taxprofiler.py
  cg/resources/taxprofiler_bundle_filenames.csv
  tests/cli/workflow/nf_analysis/__init__.py
  tests/cli/workflow/nf_analysis/test_cli_report_deliver.py
  tests/cli/workflow/nf_analysis/test_cli_store_housekeeper.py
  tests/cli/workflow/rnafusion/__init__.py
  tests/cli/workflow/rnafusion/test_cli_rnafusion_compound_commands.py
  tests/cli/workflow/rnafusion/test_cli_rnafusion_store_housekeeper.py
  tests/cli/workflow/taxprofiler/__init__.py
  tests/conftest.py
Labels: cg, taxprofiler

#3000 Refactor pipeline to workflow applicationlimit
  alembic/versions/2024_02_28_30f8b6634257_rename_applicationlimitation_pipeline_.py
  cg/server/admin.py
  cg/server/api.py
  cg/store/crud/create.py
  cg/store/filters/status_application_limitations_filters.py
  cg/store/models.py
  tests/store/conftest.py
  tests/store/crud/read/test_read.py
  tests/store/filters/test_status_application_limitations_filters.py
  tests/store_helpers.py
Labels: Enhancement

#3038 (feat taxprofiler): Add store command
  cg/cli/workflow/nf_analysis.py
  cg/cli/workflow/rnafusion/base.py
  cg/cli/workflow/taxprofiler/base.py
  cg/meta/workflow/nf_analysis.py
  tests/cli/workflow/nf_analysis/test_cli_compound_commands.py
  tests/cli/workflow/rnafusion/test_cli_rnafusion_compound_commands.py
  tests/cli/workflow/taxprofiler/test_cli_taxprofiler_compound_commands.py
  tests/cli/workflow/test_cli_workflow.py
  tests/conftest.py
Labels: cg, taxprofiler

#3059 (feat taxprofiler): Add store-available command
  cg/cli/workflow/nf_analysis.py
  cg/cli/workflow/rnafusion/base.py
  cg/cli/workflow/taxprofiler/base.py
  cg/meta/workflow/nf_analysis.py
  cg/models/taxprofiler/taxprofiler.py
  tests/cli/workflow/nf_analysis/test_cli_compound_commands.py
  tests/cli/workflow/nf_analysis/test_cli_run.py
  tests/cli/workflow/rnafusion/test_cli_rnafusion_compound_commands.py
  tests/conftest.py
Labels: cg, taxprofiler
