Repository Clinical-Genomics/cg, pull requests merged in 2024-09, with the labels that each got.

#3724 Update cryptograhpy
  poetry.lock
Labels: security

#3570 Rename order status column
  alembic/versions/2024_08_09_7770dcad8bde_rename_order_status.py
  cg/server/admin.py
  cg/server/dto/orders/order_delivery_update_request.py
  cg/server/dto/orders/order_patch_request.py
  cg/server/dto/orders/orders_request.py
  cg/server/dto/orders/orders_response.py
  cg/server/endpoints/orders.py
  cg/services/orders/order_service/order_service.py
  cg/services/orders/order_service/utils.py
  cg/store/crud/read.py
  cg/store/crud/update.py
  cg/store/filters/status_order_filters.py
  cg/store/models.py
Labels: alembic migration

#3726 Update flask cors
  poetry.lock
Labels: security

#3708 Renamed workflow fastq to raw-data
  alembic/versions/2024_09_11_18dbadd8c436_rename_fastq_to_raw_data.py
  cg/cli/deliver/base.py
  cg/cli/deliver/utils.py
  cg/cli/workflow/fastq/base.py
  cg/cli/workflow/fastq/fastq_service.py
  cg/constants/constants.py
  cg/constants/delivery.py
  cg/constants/housekeeper_tags.py
  cg/meta/delivery/delivery.py
  cg/meta/transfer/external_data.py
  cg/meta/workflow/prepare_fastq.py
  cg/models/orders/constants.py
  cg/services/deliver_files/delivery_file_fetcher_service/raw_data_and_analysis_delivery_file_fetcher.py
  cg/services/deliver_files/delivery_file_fetcher_service/raw_data_delivery_file_fetcher.py
  cg/services/deliver_files/delivery_file_tag_fetcher_service/bam_delivery_tags_fetcher.py
  cg/services/orders/store_order_services/store_microbial_fastq_order_service.py
  cg/services/sequencing_qc_service/quality_checks/checks.py
  cg/store/models.py
  tests/apps/downsample/test_downsample_utils.py
  tests/apps/orderform/test_excel_orderform_parser.py
  tests/cli/deliver/conftest.py
  tests/cli/downsample/test_cli_downsample.py
  tests/cli/set/test_cli_set_case.py
  tests/cli/upload/conftest.py
  tests/cli/workflow/balsamic/conftest.py
  tests/cli/workflow/conftest.py
  tests/cli/workflow/fastq/test_fastq_base.py
  tests/cli/workflow/fluffy/conftest.py
  tests/conftest.py
  tests/fixture_plugins/demultiplex_fixtures/housekeeper_fixtures.py
  tests/fixtures/cgweb_orders/fastq.json
  tests/fixtures/cgweb_orders/metagenome.json
  tests/fixtures/cgweb_orders/microbial_fastq.json
  tests/fixtures/cgweb_orders/rml.json
  tests/meta/transfer/test_external_data.py
  tests/meta/upload/scout/test_meta_upload_scoutapi_rna.py
  tests/meta/workflow/conftest.py
  tests/services/analysis_service/test_analysis_service.py
  tests/services/file_delivery/delivery_file_tag_fetcher_service/test_delivery_file_tag_fetcher_service.py
  tests/services/orders/order_store_service/test_fastq_order_service.py
  tests/services/orders/order_store_service/test_microbial_fastq_order_store_service.py
  tests/services/orders/order_store_service/test_pool_order_store_service.py
  tests/services/orders/test_validate_order_service/conftest.py
  tests/store/conftest.py
  tests/store/crud/read/test_read.py
  tests/store/test_delivery.py
Labels: alembic migration

#3779 Raredisease: add genepanel path to params file
  cg/meta/workflow/raredisease.py
  cg/models/raredisease/raredisease.py
  tests/conftest.py
Labels: raredisease
