Repository Clinical-Genomics/cg, pull requests merged in 2024-06, with the labels that each got.

#3333 Add Illumina models filter function to CRUD
  cg/services/illumina_services/illumina_post_processing_service/illumina_post_processing_service.py
  cg/store/base.py
  cg/store/crud/create.py
  cg/store/crud/read.py
  cg/store/filters/status_illumina_flow_cell_filters.py
  cg/store/filters/status_illumina_metrics_filters.py
  cg/store/filters/status_illumina_sequencing_run_filters.py
  tests/conftest.py
  tests/fixture_plugins/demultiplex_fixtures/sample_fixtures.py
  tests/services/illumina_services/illumina_post_processing_service/test_illumina_post_processing_service.py
  tests/small_helpers.py
  tests/store/crud/read/test_read.py
  tests/store/filters/test_status_illumina_flow_cell_filters.py
  tests/store/filters/test_status_illumina_metrics_filters.py
  tests/store/filters/test_status_illumina_sequencing_run_filters.py
  tests/store_helpers.py
Labels: Project Task

#3325 add storage to housekeeper function in Illumina service
  cg/services/illumina_services/illumina_post_processing_service/housekeeper_storage.py
  cg/services/illumina_services/illumina_post_processing_service/illumina_post_processing_service.py
  cg/services/illumina_services/illumina_post_processing_service/utils.py
  cg/services/illumina_services/illumina_post_processing_service/validation.py
  tests/conftest.py
  tests/fixture_plugins/demultiplex_fixtures/metrics_fixtures.py
  tests/fixture_plugins/demultiplex_fixtures/name_fixtures.py
  tests/fixture_plugins/demultiplex_fixtures/path_fixtures.py
  tests/fixture_plugins/demultiplex_fixtures/sample_fixtures.py
  tests/fixture_plugins/demultiplex_fixtures/sample_sheet_fixtures.py
  tests/services/illumina_services/illumina_post_processing_service/conftest.py
  tests/services/illumina_services/illumina_post_processing_service/test_housekeeper_storage.py
  tests/services/illumina_services/illumina_post_processing_service/test_illumina_post_processing_service.py
  tests/services/illumina_services/illumina_post_processing_service/test_utils.py
  tests/store_helpers.py
Labels: Project Task

#3128 RAREDISEASE: add store, store available and store housekeeper commands
  cg/cli/workflow/nf_analysis.py
  cg/cli/workflow/raredisease/base.py
  cg/constants/nextflow.py
  cg/meta/workflow/nf_analysis.py
  cg/meta/workflow/raredisease.py
  cg/resources/__init__.py
  cg/resources/raredisease_bundle_filenames.yaml
  tests/cli/workflow/nf_analysis/test_cli_config_case.py
  tests/cli/workflow/nf_analysis/test_cli_report_deliver.py
  tests/cli/workflow/nf_analysis/test_cli_run.py
  tests/cli/workflow/nf_analysis/test_cli_start.py
  tests/cli/workflow/nf_analysis/test_cli_store.py
  tests/cli/workflow/nf_analysis/test_cli_store_housekeeper.py
  tests/cli/workflow/nf_analysis/test_cli_workflow_base.py
  tests/conftest.py
Labels: raredisease

#3355 fix validate to admit manually modified sample sheets
  cg/apps/demultiplex/sample_sheet/api.py
  cg/apps/demultiplex/sample_sheet/read_sample_sheet.py
  cg/apps/demultiplex/sample_sheet/sample_models.py
  cg/apps/demultiplex/sample_sheet/sample_sheet_validator.py
  cg/cli/demultiplex/demux.py
  cg/cli/demultiplex/sample_sheet.py
  cg/exc.py
  cg/models/nf_analysis.py
  tests/apps/demultiplex/test_read_sample_sheet.py
  tests/apps/demultiplex/test_sample_sheet_validator.py
  tests/apps/demultiplex/test_translate_sample_sheet.py
  tests/models/rnafusion/test_rnafusion_sample.py
Labels: demultiplex
