Repository Clinical-Genomics/cg, pull requests merged in 2024-05, with the labels that each got.

#3079 Rm delivery table
  alembic/versions/2024_03_27_9cf71c905539_remove_delivery_table.py
  cg/meta/orders/case_submitter.py
  cg/meta/orders/fastq_submitter.py
  cg/meta/orders/pool_submitter.py
  cg/server/app.py
  cg/store/crud/create.py
  cg/store/models.py
  tests/meta/orders/test_meta_orders_status.py
Labels: Enhancement

#3224 Generate primary keys for device tables
  alembic/versions/2024-05-14_4766684153e3_add_primary_keys_device_tables.py
Labels: Project Task, alembic migration

#3220 Fix - move device_id from run_device to run_metrics
  alembic/versions/2024-05-14_e5c6bf847e25_fix_run_tables.py
Labels: Project Task, alembic migration

#3229 add(illumina samle run metrics)
  alembic/versions/2024_05_15_5c6de08c4aca_add_illumina_sample_run_metrics.py
  cg/store/models.py
Labels: alembic migration

#3235 add(illumina run metrics table)
  alembic/versions/2024_05_16_6e6c36d5157b_add_illumina_run_metrics.py
  cg/store/models.py
Labels: alembic migration

#3239 add IlluminaFlowCellDevice model
  alembic/versions/2024_05_17_fe23de4ed528_add_illumina_flow_cell.py
  cg/constants/demultiplexing.py
  cg/store/models.py
Labels: Project Task, alembic migration

#3257 add autoincrement for run device
  alembic/versions/5fd7e8758fb1_add_autoincrement_to_device_tables.py
Labels: alembic migration

#3268 feat(update): requests
  poetry.lock
Labels: security

#3269 feat(update): pymysql
  poetry.lock
Labels: security

#3298 Add Pacbio sequencing run model
  alembic/versions/2024-05-29_951939f0f9b7_add_pacbio_sequencing_run.py
  cg/store/models.py
Labels: Project Task, alembic migration

#3265 add admin view of new tables
  cg/server/admin.py
  cg/server/app.py
  cg/store/models.py
Labels: Project Task
