Repository Clinical-Genomics/cg, pull requests merged in 2024-10, with the labels that each got.

#3783 Fix raredisease sample pairs in delivery report
  cg/meta/workflow/raredisease.py
Labels: Bug, raredisease

#3851 Raredisease: make genome build fixed for hg19
  cg/meta/workflow/raredisease.py
Labels: raredisease

#3858 Make Pacbio model attributes non-nullable (#3858)(patch)
  alembic/versions/2024_10_17_3503b53a9bc3_make_pacbio_attributes_non_nullable_.py
  cg/store/models.py
Labels: alembic migration
