Repository Clinical-Genomics/cg, pull requests merged in 2025-03, with the labels that each got.

#4264 add nallo to limitations table
  alembic/versions/2025_03_06_3a0250e5526d_add_nallo_to_limitations_table.py
Labels: alembic migration, nallo

#4269 Fix-dragen-cpu-and-exclusiveness
  cg/apps/slurm/sbatch.py
  cg/apps/slurm/slurm_api.py
  cg/models/slurm/sbatch.py
Labels: Bug, Urgency L

#4169 add cg workflow nallo start-available
  cg/cli/workflow/nallo/base.py
  cg/services/sequencing_qc_service/quality_checks/checks.py
  cg/services/sequencing_qc_service/quality_checks/utils.py
  tests/cli/workflow/nf_analysis/test_cli_start.py
Labels: nallo

#4198 Add Nallo delivery report
  cg/cli/generate/delivery_report/utils.py
  cg/constants/delivery.py
  cg/constants/housekeeper_tags.py
  cg/constants/nf_analysis.py
  cg/constants/report.py
  cg/constants/scout.py
  cg/meta/delivery_report/nallo.py
  cg/meta/delivery_report/templates/macros/data_analysis/data_analysis.html
  cg/meta/delivery_report/templates/macros/data_analysis/qc_metrics/nallo_qc_metrics.html
  cg/meta/delivery_report/templates/macros/order.html
  cg/meta/delivery_report/templates/macros/uploaded_files/nallo_uploaded_files.html
  cg/meta/delivery_report/templates/macros/uploaded_files/uploaded_files.html
  cg/meta/workflow/nallo.py
  cg/meta/workflow/nf_analysis.py
  cg/meta/workflow/raredisease.py
  cg/meta/workflow/rnafusion.py
  cg/meta/workflow/taxprofiler.py
  cg/meta/workflow/tomte.py
  cg/models/analysis.py
  cg/models/delivery_report/metadata.py
  cg/models/delivery_report/sample.py
  cg/models/nallo/nallo.py
  tests/fixtures/analysis/nallo/multiqc_data.json
  tests/fixtures/analysis/nallo/nallo_fixture_for_metrics_deliverables.yaml
Labels: nallo

#4287 Nallo: add cg workflow nallo store-available
  cg/cli/workflow/nallo/base.py
  tests/cli/workflow/nf_analysis/test_cli_store.py
Labels: nallo

#4298 Add nallo delivery report
  cg/cli/generate/delivery_report/utils.py
  cg/constants/delivery.py
  cg/constants/housekeeper_tags.py
  cg/constants/nf_analysis.py
  cg/constants/report.py
  cg/constants/scout.py
  cg/meta/delivery_report/nallo.py
  cg/meta/delivery_report/templates/macros/data_analysis/data_analysis.html
  cg/meta/delivery_report/templates/macros/data_analysis/qc_metrics/nallo_qc_metrics.html
  cg/meta/delivery_report/templates/macros/order.html
  cg/meta/delivery_report/templates/macros/uploaded_files/nallo_uploaded_files.html
  cg/meta/delivery_report/templates/macros/uploaded_files/uploaded_files.html
  cg/meta/workflow/nallo.py
  cg/meta/workflow/nf_analysis.py
  cg/meta/workflow/raredisease.py
  cg/meta/workflow/rnafusion.py
  cg/meta/workflow/taxprofiler.py
  cg/meta/workflow/tomte.py
  cg/models/analysis.py
  cg/models/delivery_report/metadata.py
  cg/models/delivery_report/sample.py
  cg/models/nallo/nallo.py
  tests/fixtures/analysis/nallo/multiqc_data.json
  tests/fixtures/analysis/nallo/nallo_fixture_for_metrics_deliverables.yaml
Labels: nallo
