Repository Clinical-Genomics/cg, pull requests merged in 2025-04, with the labels that each got.

#4288 Add Nallo QC check for sex
  cg/constants/nf_analysis.py
  cg/meta/workflow/nallo.py
  tests/fixtures/analysis/nallo/multiqc_data.json
  tests/fixtures/analysis/nallo/nallo_fixture_for_metrics_deliverables.yaml
Labels: nallo

#4334 Bug fix Nallo upload
  cg/meta/upload/scout/nallo_config_builder.py
Labels: Bug, nallo

#4335 Finish up nallo scout upload
  cg/constants/scout.py
  cg/meta/upload/scout/hk_tags.py
  cg/meta/upload/scout/nallo_config_builder.py
  cg/models/scout/scout_load_config.py
Labels: nallo

#4325 Remove raredisease adapter QC check
  cg/constants/nf_analysis.py
  cg/constants/sequencing.py
  cg/meta/workflow/raredisease.py
  tests/fixtures/analysis/raredisease/raredisease_case_enough_reads_metrics_deliverables.yaml
Labels: production, raredisease

#4365 add Raredisease order type to database
  alembic/versions/2025_04_28_039dbdf8af01_add_raredisease_ordertype.py
  cg/models/orders/constants.py
Labels: alembic migration
